<!DOCTYPE html>
<html>
  <head>
    <title>career page</title>
    <style>
      h1{
        font-family:"Roboto";
        font-size: 70px;
        color:rgb(0,0,0);
        text-align:center;
      }
      h2{
        font-family:"Roboto";
        font-size:20px;
      }
      .bodytext{
        font-family:roboto;
        color:rgb(80,80,80)
      }
      #Banner{
        width:100%
        height:360px;
        object-fit:cover;
      }
      #container{
        max-width:720px;
        margin:0 auto;
      }
      
    </style>
  </head>
  <body>
    <div id="container">
    <h1>Career page</h1>
    <img id="Banner"src="https://cb9f97da-c348-44df-a2ee-68c3408cf9ce-00-368abp23yypty.sisko.replit.dev/static/Banner.jpeg",height="300",width="50">
    <h2>About Career</h2>
    <p class="bodytext">we're always on the lookout for enthusiastic and dedicated individuals to join our team. We offer a supportive work environment that encourages growth, creativity, and collaboration. Whether you're just starting your career or looking to advance to the next level, we provide opportunities to learn and thrive. As part of our team, you'll play a key role in delivering exceptional customer experiences and contributing to the success of our shop. If you're passionate about retail and eager to make a difference, we'd love to hear from you!</p>
    <h2>open positions</h2>
      <div style="text-align:center;">
    <button>Contact us</button>
        <p>copyright 2007</p>
      </div>
    </div>
  </body>
</html>